<link rel="stylesheet" href="/styles.css">
<header>
    <div class="navbar">
        <div class="logo">EC site</div>
        <div class="nav-links">
            <a href="/login">login</a>
            <a href="/register">sign up</a>
        </div>
    </div>
</header> 