main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-table {
    margin-bottom: 20px;
}

.cart-actions {
    display: flex;
    gap: 10px;
}