<link rel="stylesheet" href="/styles.css" />
<header>
  <div class="navbar">
    <div class="logo"><a href="/admin/dashboard">Admin</a></div>
    <div class="nav-links">
      <% if (req.session.userId) { %>
      <a href="/admin/logout">logout</a>
      <% } else { %>
      <a href="/admin/login">login</a>
      <% } %>
    </div>
  </div>
</header>
