<link rel="stylesheet" href="/styles.css" />
<header>
  <div class="navbar">
    <div class="logo"><a href="/admin/dashboard">Admin</a></div>
    <div class="nav-links">
      <% if (req.session.userId) { %>
      <div class="admin-actions">
        <a href="/admin/add-item">Add new item</a>
        <a href="/admin/logout">logout</a>
      </div>
      <% } %>
    </div>
  </div>
</header>
