<main>
  <div class="admin-add-item">
    <h1>Add new item</h1>
    <form action="/admin/add-item" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Name" required />
      <input type="number" name="price" placeholder="Price" required min="0" />
      <input type="text" name="description" placeholder="Description" required />
      <input type="file" name="file" accept="image/*" required />
      <button type="submit">Add</button>
    </form>
  </div>
</main>
