<main>
  <div class="admin-edit-item">
    <h1>Edit item</h1>
    <form action="/admin/edit-item/<%= item.id %>" method="post" enctype="multipart/form-data">
      <input type="text" name="name" value="<%= item.name %>" required />
      <input type="number" name="price" value="<%= item.price %>" required min="0" step="0.01" />
      <input type="text" name="description" value="<%= item.description %>" required />
      <input type="file" name="file" accept="image/*" />
      <button type="submit">edit</button>
    </form>
  </div>
</main>
