
    <main>
        <div class="product-grid">
            <div class="product">
                <img src="colorful-drinks.jpg" alt="Drink">
                <h2>Drink</h2>
                <p>3200JPY</p>
                <button>view details</button>
            </div>
            <div class="product">
                <img src="colorful-eggs.jpg" alt="Egg">
                <h2>Egg</h2>
                <p>480JPY</p>
                <button>view details</button>
            </div>
            <div class="product">
                <img src="colorful-towels.jpg" alt="Towel">
                <h2>Towel</h2>
                <p>2200JPY</p>
                <button>view details</button>
            </div>
            <div class="product">
                <img src="flowers.jpg" alt="Flower">
                <h2>Flower</h2>
                <p>4200JPY</p>
                <button>view details</button>
            </div>
        </div>
    </main>
