
    <main>
        <div class="item-detail">
            <img src="colorful-drinks.jpg" alt="Drink">
            <div class="item-info">
                <h1>Drink</h1>
                <p>3200JPY</p>
                <p>This is a set of drinks in five colors: blue, yellow, orange, red, and green. It is recommended for parties and celebrations as an assortment that adds color. It is perfect for surprising friends and adding a unique touch to a party that is different from usual.</p>
                <p>You need to log in to make a purchase.</p>
            </div>
        </div>
    </main>
