.item-detail {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.item-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
}
