.item-detail {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.item-detail img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.item-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
